/.myenv
venv/
/data/data/**
/prepared_data/**
/sequence_model/checkpoints/
/sequence_model/iam_checkpoints/
/sequence_model/results/
/sequence_model/samples/
\.idea/
*.pyc
*.jpg
*.log
*.zip
*.h5
.python-version
.DS_Store
hs.pem
config.sh
